[user]
	email = pawarg256@gmail.com
    name = Ganesh Pawar
[core]
    editor = 'nvim'
    pager = delta
    diff  = auto
    status= auto
    branch= auto
    interactive = true

[alias]
    ci = commit
    di = diff --histogram
    st = status
    re = restore
    co = checkout
    ls = ls-files
    log1 = log --pretty=oneline --abbrev-commit
    logs = log --stat -p --full-diff
[cola]
	spellcheck = false
[color]
	ui = auto
[merge]
	conflictstyle = diff3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
    required = true

[interactive]
    diffFilter = delta --color-only

[delta]
    plus-color = "#012800"
    minus-color = "#340001"
    syntax-theme = Monokai Extended
    features = decorations
    line-numbers = true

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
