[user]
	email = pawarg256@gmail.com
    name = Ganesh Pawar
[core]
    editor = 'nvim'
    diff  = auto
    status= auto
    branch= auto
    interactive = true

[alias]
    ci = commit
    di = diff --histogram
    st = status
    re = restore
    co = checkout
    log1 = log --pretty=oneline --abbrev-commit
    logs = log --stat -p --full-diff
[cola]
	spellcheck = false
[color]
	ui = auto
[merge]
	conflictstyle = diff3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
